@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

/* Estilos para tema oscuro */
/* @media (prefers-color-scheme: dark) {
  body {
    transition: background-color 5s;
    background-color: #333333;
    color: white;
    font-family: "Amatic SC", bold, sans-serif;
  }
} */

/* Estilos para tema claro */
/* @media (prefers-color-scheme: light) {
  body {
    transition: background-color 5s;
    background-color: white;
    color: black;
    font-family: "Amatic SC", bold, sans-serif;
  }
} */
body {
  /*   background-color: transparent; */
  background-color: white;
  color: black;
  transition: background-color 3s;
  font-family: "Amatic SC", bold, sans-serif;
}

.dark-mode {
  background-color: black;
  color: white;
}

#toggle-dark-mode {
  font-size: 18px;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

#toggle-dark-mode.dark-mode {
  color: white;
}

/* 
body.transparent {
   color: white;
} */
h1,
h5 {
  text-align: center;
}
.habitat {
  font-size: 8px;
  font-family: monospace;
}
.music {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='24' height='29' viewport='0 0 100 100' style='fill:black;font-size:14px;'><text y='50%'>🎵</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  text-align: center;
  padding: 20px;
  width: 100%;
  /* adaptar el ancho a su contenedor */
  margin: 5px;
  /* agregar un margen de 5 px por cada lado */
  box-sizing: border-box;
  /* Incluir el margen en el tamaño del contenedor*/
  position: relative;
  /*   z-index:-1 */
}
.grid-item img {
  width: 100%;
  /* adaptar el ancho de la imagen a su contenedor */
  margin: 5px;
  transition: transform 0.3s ease-in-out;
  /*   position: relative; */
  /*   z-index:1 */
  /*   border-radius :25px; */
  /*   filter: blur(1px); */
  /*   background-position: center center; */
  /*      background-image: radial-gradient(transparent, #000000); */
  /*   opacity: 0.9; */
  border-radius: 50%;
}
.grid-item img:hover {
  transform: scale(3.3);
  z-index: 9999;
}
